# Normaliza finais de linha (Windows/Linux)
* text=auto eol=lf
# Binários
*.png binary
*.jpg binary
*.ogg binary
*.wav binary
*.mp3 binary
*.ttf binary
*.otf binary
*.avi filter=lfs diff=lfs merge=lfs -text
